@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin,latin-ext);

* { margin: 0; padding: 0; }

body {
    background-color: #eee;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.content {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px #bbb;
    }

h1 {
    font-weight: normal;
    margin: 20px 0;
    }
h2 {
    margin: 10px 0;
    }
h3 {
    margin: 10px 0;
    }

.xrf {
    color: #bbb;
    font-size: 11px;
    }
.star {
    color: #e42;
    }
.nrver {
    color: #bbb;
    }