@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,latin-ext);

* { margin: 0; padding: 0; }

a { text-decoration: none; transition: color 0.2s; }

body {
    background: #c0c0c0 url(grid.png) fixed;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.content {
    background-color: #fff;
    width: 911px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 25px 0 #808080;
    position: relative;
    overflow: hidden;
    }

.logo {
    display: block;
    background-color: #ff4000;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 25px;
    padding: 3px 10px 5px 10px;
    }

.sidebar {
    background-color: #f0f0f0;
    width: 260px;
    padding: 25px;
    float: left;
    }

ul.front {
    list-style: none;
    }
    ul.front li {
        margin: 10px 0;
        }
    ul.front i {
        color: #808080;
        font-size: 13px;
        }
    ul.front a { color: #ff4000; }
    ul.front a:hover { color: #00b290; }

div.index {
    margin-top: 35px;
    }
    div.index strong {
        display: block;
        font-weight: 300;
        color: #c0c0c0;
        padding: 5px 0;
        }
    div.index ul {
        list-style: none;
        width: 130px;
        float: left;
        }
        div.index ul li {
            border-bottom: #e0e0e0 1px solid;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            }
        div.index ul li:last-child {
            border-bottom: 0 none;
            }
        div.index ul li.selected a {
            color: #00b290;
            }
        div.index ul li a {
            color: #404040;
            }
        div.index ul li a:hover {
            color: #00b290;
            }

span.index {
    vertical-align: super;
    line-height: 10px;
    font-size: 10px;
    }

.main {
    background-color: #fff;
    width: 540px;
    float: right;
    padding: 30px;
    }

h1 {
    font-weight: 300;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 20px 0;
    }
h2 {
    font-weight: 300;
    font-weight: normal;
    margin: 10px 0;
    }
h3 {
    font-weight: normal;
    color: #00b290;
    margin: 10px 0;
    }

ul.capitol {
    list-style: none;
    display: block;
    overflow: hidden;
    font-size: 12px;
    padding-bottom: 10px;
    }
    ul.capitol a {
        background-color: #c0c0c0;
        display: block;
        float: left;
        color: #fff;
        width: 18px;
        text-align: right;
        padding: 0 8px;
        transition: background-color 0.2s;
        }
        ul.capitol a:hover { background-color: #e0e0e0; }
    ul.capitol li {
        display: block;
        float: left;
        margin: 1px;
        color: #fff;
        }
        ul.capitol li.active a { background-color: #ff4000; }

.ftn, .xrf {
    color: #c0c0c0;
    font-size: 13px;
    text-indent: 30px;
    }
.star {
    color: #ff4000;
    }
.nrver {
    color: #c0c0c0;
    float: left;
    width: 30px;
    }
.txtver {
    font-family: "PT Serif", serif;
    text-align: justify;
    display: block;
    }