@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,latin-ext);

* { margin: 0; padding: 0; }

a { text-decoration: none; }

body {
    background: #bbb url(grid.png) fixed;
    font-family: "PT Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #222;
}

.content {
    background-color: #eee;
    width: 911px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 30px 0 #777;
    position: relative;
    }
    .content:after {
        content: "";
        display: block;
        clear: both;
        }

.logo {
    display: block;
    background-color: #f50;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 25px;
    padding: 3px 10px 5px 10px;
    }

.sidebar {
    background-color: #eee;
    width: 260px;
    padding: 25px;
    float: left;
    }

ul.front {
    list-style: none;
    margin-top: 20px;
    }
    ul.front li {
        margin: 20px 0;
        }
    ul.front i {
        color: #888;
        font-size: 13px;
        }
    ul.front a {
        color: #00b290;
        }

div.index {
    margin-top: 35px;
    }
    div.index strong {
        display: block;
        font-weight: 300;
        color: #bbb;
        padding: 5px 0;
        }
    div.index ul {
        list-style: none;
        width: 130px;
        float: left;
        }
        div.index ul li {
            box-shadow: 0 -1px 0 0 #ddd;
            }
        div.index ul li.selected a {
            color: #00b290;
            }
        div.index ul li a {
            color: #555;
            }
        div.index ul li a:hover {
            color: #00b290;
            }

span.index {
    vertical-align: super;
    line-height: 10px;
    font-size: 10px;
    }

.main {
    background-color: #fff;
    width: 540px;
    min-height: 1011px;
    float: right;
    padding: 30px;
    border-left: #ddd 1px solid;
    }

h1 {
    font-weight: 300;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 20px 0;
    }
h2 {
    font-weight: 300;
    font-weight: normal;
    margin: 10px 0;
    }
h3 {
    font-weight: normal;
    color: #00b290;
    margin: 10px 0;
    }

ul.capitol {
    list-style: none;
    display: block;
    overflow: hidden;
    font-size: 14px;
    padding-bottom: 10px;
    }
    ul.capitol a {
        background-color: #bbb;
        display: block;
        float: left;
        color: #fff;
        width: 14px;
        text-align: right;
        padding: 0 10px;
        }
        ul.capitol a:hover {
            background-color: #ddd;
            }
    ul.capitol li {
        display: block;
        float: left;
        margin: 1px;
        color: #fff;
        }
        ul.capitol li.active a {
            background-color: #f50;
            }

.ftn,
.xrf {
    color: #bbb;
    font-size: 13px;
    text-indent: 30px;
    }
.star {
    color: #f50;
    }
.nrver {
    color: #bbb;
    float: left;
    width: 30px;
    }
.txtver {
    font-family: "PT Serif", serif;
    text-align: justify;
    display: block;
    }