* {
    margin: 0;
    padding: 0;
    }

a {
    text-decoration: none;
    transition: color 0.2s;
    }

body {
    background: #e0e0e0;
    color: #000;
    font-family: "Clear Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    }

.container {
    display: grid;
    grid-template-columns: auto 280px 560px auto;
    }
    .container > div { min-height: 100vh; }
    .leftside { background-color: #f0f0f0; }
    .rightside { background-color: #fff; }
    .sidebar {
        background-color: #f0f0f0;
        padding: 20px;
        padding-top: 0;
        }
    .main {
        background-color: #fff;
        padding: 20px;
        }

.logo {
    background-color: #00b290;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    }

ul.front {
    list-style: none;
    }
    ul.front li {
        margin: 10px 0;
        }
    ul.front i {
        color: #808080;
        font-size: 13px;
        }
    ul.front a { color: #ff4000; }
    ul.front a:hover { color: #00b290; }

div.index {
    margin-top: 20px;
    }
    div.index strong {
        display: block;
        font-weight: normal;
        color: #c0c0c0;
        padding: 5px 0;
        }
    div.index ul {
        list-style: none;
        width: 50%;
        float: left;
        }
        div.index ul li {
            border-bottom: #e0e0e0 1px solid;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            }
        div.index ul li:last-child {
            border-bottom: 0 none;
            }
        div.index ul li.selected a {
            color: #00b290;
            }
        div.index ul li a {
            color: #404040;
            }
        div.index ul li a:hover {
            color: #00b290;
            }

span.index {
    vertical-align: super;
    line-height: 10px;
    font-size: 10px;
    }

h1 {
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 20px;
    }
h2 {
    font-weight: normal;
    line-height: 25px;
    margin: 10px 0;
    }
h3 {
    font-weight: normal;
    color: #00b290;
    margin: 10px 0;
    }

.footer {
    border-top: #e0e0e0 1px solid;
    color: #808080;
    margin-top: 20px;
    padding-top: 10px;
    }
    a { color: #ff4000; }
    .sponsor { float: right; }

ul.capitol {
    list-style: none;
    display: block;
    overflow: hidden;
    font-size: 12px;
    padding-bottom: 10px;
    }
    ul.capitol a {
        background-color: #c0c0c0;
        display: block;
        float: left;
        color: #fff;
        width: 18px;
        text-align: right;
        padding: 0 8px;
        transition: background-color 0.2s;
        }
        ul.capitol a:hover { background-color: #e0e0e0; }
    ul.capitol li {
        display: block;
        float: left;
        margin: 1px;
        color: #fff;
        }
        ul.capitol li.active a { background-color: #ff4000; }

.ftn, .xrf {
    color: #c0c0c0;
    font-size: 13px;
    text-indent: 30px;
    }
.star {
    color: #ff4000;
    }
.nrver {
    color: #c0c0c0;
    float: left;
    width: 30px;
    }
.txtver {
    display: block;
    }

@media (max-width: 840px) {
    .container { grid-template-columns: 0 25% 75% 0; }
    div.index ul { width: 100%; }
    .main, .sidebar {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@font-face {
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: normal;
    src: url(/static/clearsans/regular.woff) format("woff");
    }

@font-face {
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: bold;
    src: url(/static/clearsans/bold.woff) format("woff");
    }
