<!doctype html>
<html lang="ro">
<head>
    <title>{{ page.title }} &mdash; Biblia</title>
    <meta charset="utf-8" />
    <link href='/static/style.css' type='text/css' rel='stylesheet' />
    <script src="/static/jquery.min.js"></script>
    <script src="/static/jc.js"></script>
    <script src="/static/tabs.js"></script>
</head>
<body>

<div class="content">
    <div class="sidebar">
        <a href="/" class="logo">Biblia</a>
        <div class="index">
            <ul>
                <li>
                    <strong>Vechiul <br /> Testament</strong>
                </li>
                <li {%if page.slug == "geneza"%}class="selected"{%endif%}>
                    <a title="Geneza" href="geneza.html">Geneza</a>
                </li>
                <li {%if page.slug == "exodul"%}class="selected"{%endif%}>
                    <a title="Exodul" href="exodul.html">Exodul</a>
                </li>
                <li {%if page.slug == "leviticul"%}class="selected"{%endif%}>
                    <a title="Leviticul" href="leviticul.html">Leviticul</a>
                </li>
                <li {%if page.slug == "numeri"%}class="selected"{%endif%}>
                    <a title="Numeri" href="numeri.html">Numeri</a>
                </li>
                <li {%if page.slug == "deuteronomul"%}class="selected"{%endif%}>
                    <a title="Deuteronomul" href="deuteronomul.html">Deuteronomul</a>
                </li>
                <li {%if page.slug == "iosua"%}class="selected"{%endif%}>
                    <a title="Iosua" href="iosua.html">Iosua</a>
                </li>
                <li {%if page.slug == "judecatori"%}class="selected"{%endif%}>
                    <a title="Judecatori" href="judecatori.html">Judecători</a>
                </li>
                <li {%if page.slug == "rut"%}class="selected"{%endif%}>
                    <a title="Rut" href="rut.html">Rut</a>
                </li>
                <li {%if page.slug == "samuel-1"%}class="selected"{%endif%}>
                    <a title="1Samuel" href="samuel-1.html">1 Samuel</a>
                </li>
                <li {%if page.slug == "samuel-2"%}class="selected"{%endif%}>
                    <a title="2Samuel" href="samuel-2.html">2 Samuel</a>
                </li>
                <li {%if page.slug == "imparati-1"%}class="selected"{%endif%}>
                    <a title="1Imparati" href="imparati-1.html">1 Împărați</a>
                </li>
                <li {%if page.slug == "imparati-2"%}class="selected"{%endif%}>
                    <a title="2Imparati" href="imparati-2.html">2 Împărați</a>
                </li>
                <li {%if page.slug == "cronici-1"%}class="selected"{%endif%}>
                    <a title="1Cronici" href="cronici-1.html">1 Cronici</a>
                </li>
                <li {%if page.slug == "cronici-2"%}class="selected"{%endif%}>
                    <a title="2Cronici" href="cronici-2.html">2 Cronici</a>
                </li>
                <li {%if page.slug == "ezra"%}class="selected"{%endif%}>
                    <a title="Ezra" href="ezra.html">Ezra</a>
                </li>
                <li {%if page.slug == "neemia"%}class="selected"{%endif%}>
                    <a title="Neemia" href="neemia.html">Neemia</a>
                </li>
                <li {%if page.slug == "estera"%}class="selected"{%endif%}>
                    <a title="Estera" href="estera.html">Estera</a>
                </li>
                <li {%if page.slug == "iov"%}class="selected"{%endif%}>
                    <a title="Iov" href="iov.html">Iov</a>
                </li>
                <li {%if page.slug == "psalmi"%}class="selected"{%endif%}>
                    <a title="Psalmi" href="psalmi.html">Psalmi</a>
                </li>
                <li {%if page.slug == "proverbe"%}class="selected"{%endif%}>
                    <a title="Proverbe" href="proverbe.html">Proverbe</a>
                </li>
                <li {%if page.slug == "eclesiastul"%}class="selected"{%endif%}>
                    <a title="Eclesiastul" href="eclesiastul.html">Eclesiastul</a>
                </li>
                <li {%if page.slug == "cantarea"%}class="selected"{%endif%}>
                    <a title="Cantarea" href="cantarea.html">Cântarea Cântărilor</a>
                </li>
                <li {%if page.slug == "isaia"%}class="selected"{%endif%}>
                    <a title="Isaia" href="isaia.html">Isaia</a>
                </li>
                <li {%if page.slug == "ieremia"%}class="selected"{%endif%}>
                    <a title="Ieremia" href="ieremia.html">Ieremia</a>
                </li>
                <li {%if page.slug == "plangerile"%}class="selected"{%endif%}>
                    <a title="Plangerile" href="plangerile.html">Plângerile</a>
                </li>
                <li {%if page.slug == "ezechiel"%}class="selected"{%endif%}>
                    <a title="Ezechiel" href="ezechiel.html">Ezechiel</a>
                </li>
                <li {%if page.slug == "daniel"%}class="selected"{%endif%}>
                    <a title="Daniel" href="daniel.html">Daniel</a>
                </li>
                <li {%if page.slug == "osea"%}class="selected"{%endif%}>
                    <a title="Osea" href="osea.html">Osea</a>
                </li>
                <li {%if page.slug == "ioel"%}class="selected"{%endif%}>
                    <a title="Ioel" href="ioel.html">Ioel</a>
                </li>
                <li {%if page.slug == "amos"%}class="selected"{%endif%}>
                    <a title="Amos" href="amos.html">Amos</a>
                </li>
                <li {%if page.slug == "obadia"%}class="selected"{%endif%}>
                    <a title="Obadia" href="obadia.html">Obadia</a>
                </li>
                <li {%if page.slug == "iona"%}class="selected"{%endif%}>
                    <a title="Iona" href="iona.html">Iona</a>
                </li>
                <li {%if page.slug == "mica"%}class="selected"{%endif%}>
                    <a title="Mica" href="mica.html">Mica</a>
                </li>
                <li {%if page.slug == "naum"%}class="selected"{%endif%}>
                    <a title="Naum" href="naum.html">Naum</a>
                </li>
                <li {%if page.slug == "habacuc"%}class="selected"{%endif%}>
                    <a title="Habacuc" href="habacuc.html">Habacuc</a>
                </li>
                <li {%if page.slug == "tefania"%}class="selected"{%endif%}>
                    <a title="Tefania" href="tefania.html">Ţefania</a>
                </li>
                <li {%if page.slug == "hagai"%}class="selected"{%endif%}>
                    <a title="Hagai" href="hagai.html">Hagai</a>
                </li>
                <li {%if page.slug == "zaharia"%}class="selected"{%endif%}>
                    <a title="Zaharia" href="zaharia.html">Zaharia</a>
                </li>
                <li {%if page.slug == "maleahi"%}class="selected"{%endif%}>
                    <a title="Maleahi" href="maleahi.html">Maleahi</a>
                </li>
            </ul>

            <!-- noul testament -->
            <ul>
                <li>
                    <strong>Noul <br /> Testament</strong>
                </li>
                <li {%if page.slug == "matei"%}class="selected"{%endif%}>
                    <a title="Matei" href="matei.html">Matei</a>
                </li>
                <li {%if page.slug == "marcu"%}class="selected"{%endif%}>
                    <a title="Marcu" href="marcu.html">Marcu</a>
                </li>
                <li {%if page.slug == "luca"%}class="selected"{%endif%}>
                    <a title="Luca" href="luca.html">Luca</a>
                </li>
                <li {%if page.slug == "ioan"%}class="selected"{%endif%}>
                    <a title="Ioan" href="ioan.html">Ioan</a>
                </li>
                <li {%if page.slug == "fapte"%}class="selected"{%endif%}>
                    <a title="Fapte" href="fapte.html">Faptele Apostolilor</a>
                </li>
                <li {%if page.slug == "romani"%}class="selected"{%endif%}>
                    <a title="Romani" href="romani.html">Romani</a>
                </li>
                <li {%if page.slug == "corinteni-1"%}class="selected"{%endif%}>
                    <a title="1Corinteni" href="corinteni-1.html">1 Corinteni</a>
                </li>
                <li {%if page.slug == "corinteni-2"%}class="selected"{%endif%}>
                    <a title="2Corinteni" href="corinteni-2.html">2 Corinteni</a>
                </li>
                <li {%if page.slug == "galateni"%}class="selected"{%endif%}>
                    <a title="Galateni" href="galateni.html">Galateni</a>
                </li>
                <li {%if page.slug == "efeseni"%}class="selected"{%endif%}>
                    <a title="Efeseni" href="efeseni.html">Efeseni</a>
                </li>
                <li {%if page.slug == "filipeni"%}class="selected"{%endif%}>
                    <a title="Filipeni" href="filipeni.html">Filipeni</a>
                </li>
                <li {%if page.slug == "coloseni"%}class="selected"{%endif%}>
                    <a title="Coloseni" href="coloseni.html">Coloseni</a>
                </li>
                <li {%if page.slug == "tesaloniceni-1"%}class="selected"{%endif%}>
                    <a title="1Tesaloniceni" href="tesaloniceni-1.html">1 Tesaloniceni</a>
                </li>
                <li {%if page.slug == "tesaloniceni-2"%}class="selected"{%endif%}>
                    <a title="2Tesaloniceni" href="tesaloniceni-2.html">2 Tesaloniceni</a>
                </li>
                <li {%if page.slug == "timotei-1"%}class="selected"{%endif%}>
                    <a title="1Timotei" href="timotei-1.html">1 Timotei</a>
                </li>
                <li {%if page.slug == "timotei-2"%}class="selected"{%endif%}>
                    <a title="2Timotei" href="timotei-2.html">2 Timotei</a>
                </li>
                <li {%if page.slug == "tit"%}class="selected"{%endif%}>
                    <a title="Tit" href="tit.html">Tit</a>
                </li>
                <li {%if page.slug == "filimon"%}class="selected"{%endif%}>
                    <a title="Filimon" href="filimon.html">Filimon</a>
                </li>
                <li {%if page.slug == "evrei"%}class="selected"{%endif%}>
                    <a title="Evrei" href="evrei.html">Evrei</a>
                </li>
                <li {%if page.slug == "iacov"%}class="selected"{%endif%}>
                    <a title="Iacov" href="iacov.html">Iacov</a>
                </li>
                <li {%if page.slug == "petru-1"%}class="selected"{%endif%}>
                    <a title="1Petru" href="petru-1.html">1 Petru</a>
                </li>
                <li {%if page.slug == "petru-2"%}class="selected"{%endif%}>
                    <a title="2Petru" href="petru-2.html">2 Petru</a>
                </li>
                <li {%if page.slug == "ioan-1"%}class="selected"{%endif%}>
                    <a title="1Ioan" href="ioan-1.html">1 Ioan</a>
                </li>
                <li {%if page.slug == "ioan-2"%}class="selected"{%endif%}>
                    <a title="2Ioan" href="ioan-2.html">2 Ioan</a>
                </li>
                <li {%if page.slug == "ioan-3"%}class="selected"{%endif%}>
                    <a title="3Ioan" href="ioan-3.html">3 Ioan</a>
                </li>
                <li {%if page.slug == "iuda"%}class="selected"{%endif%}>
                    <a title="Iuda" href="iuda.html">Iuda</a>
                </li>
                <li {%if page.slug == "apocalipsa"%}class="selected"{%endif%}>
                    <a title="Apocalipsa" href="apocalipsa.html">Apocalipsa</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        {{ page.content }}
    </div>
</div>

</body>
</html>
